/* PER IMMAGINE UTENTE */

.userImg {
    border-color: rgba(30, 87, 153, 1);
    background-color:  rgb(75, 122, 70);
}

/* FINE IMMAGINE UTENTE */

/* PER IMPOSTAZIONI COLORI GENERALI */

body{
    background-color: rgba(75, 122, 70, 0.7);
}

.clrTestoNero {
    color: rgb(0, 0, 0);
}

.clrTestoRosso {
    color: rgba(255,0,0,0.6);
}

.clrTestoArancione {
    color: orange;
}

.clrTestoBianco {
    color: white !important;
}

.clrTestoBlu {
    color: rgba(30, 87, 153, 1) !important;
}

.clrBianco {
    background-color: rgb(255, 255, 255) !important;
}

.clrUnset {
    background-color: unset !important;
}

.clrSfondoNero {
    background-color: rgb(0, 0, 0);
}

.clrSfondoRosso {
    background-color: rgba(255, 0, 0,0.7) !important;
}

.clrSfondoGiallo {
    background-color: rgb(251, 255, 5);
}

.clrSfondoArancione {
    background-color: rgb(255, 168, 5) !important;
}

.clrBase {
    background-color: rgba(75, 122, 70, 0.7);
}

.clrBaseNoTrasparenza {
    background-color: rgb(75, 122, 70) !important;
}

.modal, .modalAlert, .modalQuantitaContainer, .modalEMailContainer {
    background-color: rgba(75, 122, 70, 0.9);
}

.modalQuantita, .modalEMail {
    border: solid;
    border-width: 2px;
    border-color: rgba(30, 87, 153, 1);
    background-color:  rgb(75, 122, 70);
    border-radius: 20px;
}

.modalNoSfondo {
    background-color: transparent !important;
}

.comboScomparsa{
    border: .2px solid rgba(30, 87, 153, 1);
    background-color: #fff;
}

.clrScuro, .fasciaIntestazione, .intestazioneGriglie, .active, .accordion:hover, .tabLinkSelezionato {
    background-color: rgb(40, 69, 37) !important;
    background:rgb(40, 69, 37) !important;
}

.tabLinkSelezionato {
    background:fixed !important;
    background-color: rgb(40, 69, 37) !important;
}

.tablinkColonne {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5c9157+0,44753f+100 */
    background: rgba(92, 145, 87, 0.7);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(92, 145, 87, 0.7) 0%, rgba(68, 117, 63, 0.7) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(92, 145, 87, 0.7) 0%, rgba(68, 117, 63, 0.7) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(top, rgba(92, 145, 87, 0.7) 0%, rgba(68, 117, 63, 0.7) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c9157', endColorstr='#44753f', GradientType=0);
    /* IE6-9 */
}

.clrSfondoAP {
    background: rgb(255, 255, 255) url(../img/sfondo.jpg) repeat center right fixed;
    background-size: cover;
    background-color: rgba(75, 122, 70, 0.7);
}

.clrSfondoGuajana {
    background: rgb(255, 255, 255) url(../img/guajana/sfondo_desktop.svg) repeat center right fixed;
    background-size: cover;
    background-color: rgba(75, 122, 70, 0.7);
}

.textureLogo{
    /* background: rgba(75, 122, 70,0.5) url(../img/guajana/sfondo_testa_logo_mod2.svg); */
    background-size: cover;
}

@media (max-width: 1366px) {
    .clrSfondoGuajana {
        background: rgb(255, 255, 255) url(../img/guajana/sfondo_tablet.svg) repeat center right fixed;
        background-size: cover;
        background-color: rgba(75, 122, 70, 0.7);
    }
    
}

@media (max-width: 460px) {
    .clrSfondoGuajana {
        background: rgb(255, 255, 255) url(../img/guajana/sfondo_mobile04.svg) repeat center right fixed;
        background-size: cover;
        background-color: rgba(75, 122, 70, 0.7);
    }
    
}

.clrSfumatoChiaro {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,93b09a+100 */
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(147, 176, 154, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(147, 176, 154, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(147, 176, 154, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#93b09a', GradientType=0);
    /* IE6-9 */
}

.clrSfumatoScuro, .has-float-label a, .pulsantiera a, .pulsantiera label, .pulsantieraPiccola a, .pulsantieraPiccola label, .elencoR1 a, .elencoR2 a, .elencoR3div, .pulsante, .tablink,.pulsanteVeba, .pulsantiera button ,.pulsantieraDescrizione a,.pulsantieraDescrizione label{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5c9157+0,44753f+100 */
    background: rgba(92, 145, 87, 0.7);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(92, 145, 87, 0.7) 0%, rgba(68, 117, 63, 0.7) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(92, 145, 87, 0.7) 0%, rgba(68, 117, 63, 0.7) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(92, 145, 87, 0.7) 0%, rgba(68, 117, 63, 0.7) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c9157', endColorstr='#44753f', GradientType=0);
    /* IE6-9 */
}

.clrSfumatoScuro:hover, .clrSfumatoScuro:active, .clrSfumatoScuro:focus, .has-float-label a:hover, .has-float-label a:active, .has-float-label a:focus, .pulsantiera a:hover, .pulsantiera a:active, .pulsantiera a:focus, .pulsantiera label:hover, .pulsantiera label:active, .pulsantiera label:focus, .pulsantieraPiccola a:hover, .pulsantieraPiccola a:active, .pulsantieraPiccola a:focus, .pulsantieraPiccola label:hover, .pulsantieraPiccola label:active, .pulsantieraPiccola label:focus, .elencoR1 a:hover, .elencoR1 a:focus, .elencoR1 a.active, .elencoR2 a:hover, .elencoR2 a:focus, .elencoR2 a.active, .elencoR3div:hover, .elencoR3div:focus, .elencoR3div.active, .pulsante:hover, .pulsante:active, .pulsante:focus, .pulsanteVeBa:hover, .pulsanteVeBa:active, .pulsanteVeBa:focus, .pulsantiera button:focus, .pulsantiera button:active, .pulsantiera button:hover {
    background: rgba(75, 122, 70, 0.7);
}

.clrContornoTopBianco {
    border-top: 2px solid white;
}

.clrContornoRosso {
    border-width: 2px;
    border-color: red !important;
    -webkit-appearance: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-style: solid;
}

.clrContorno, .has-float-label input, .has-float-label select, .has-float-label textarea, .selectDiv {
    border-width: 2px;
    border-color: rgba(30, 87, 153, 1);
    -webkit-appearance: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-style: solid;
}

.clrContornoScuro {
    border-width: 1px;
    border-color: rgba(40, 69, 37, 1);
    -webkit-appearance: none;
    border-style: solid;
}

.bordoBianco {
    border-style: solid;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 1);
}

.bordoBiancoSottile {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 1);
}

.elementiSovrapposti > img:hover, .elementiSovrapposti > img:active, .elementiSovrapposti > img:focus {
    opacity: 0.7;
}

/* FINE IMPORTAZIONI COLORI GENERALI */

/* PERSONALIZZAZIONE SCROLL BAR*/
::-webkit-scrollbar-thumb {
    border: 1px solid white;
    background-color: #c2c2c2;
    /* background-color: rgba(194,194,194,.5); */
    background-color: rgb(40, 69, 37,.5);
}
/* FINE PERSONALIZZAZIONE SCROLL BAR*/

.toggle-button:checked::after {
    transform: translateX(calc(100% - 3px));
    background-color: rgb(75, 122, 70);  
}

/*PULSANTE SELEZIONATO*/
.pulsanteVeBaAttivo{
  background: rgb(40, 69, 37)!important;
}

/* PER GESTIONE VENDITA LA BANCO*/
.modalPiccolo{
    background-color: rgba(75, 122, 70, 1);
    
  }
  .modalMedio{
    background-color: rgba(75, 122, 70, 1);
  }
  
  .modalGrande{
    background-color: rgba(75, 122, 70, 1);
  }

  /* FINE GESTIONE VENDITA LA BANCO*/